/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact,.education ,.footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.contact .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: black;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #eae8e6;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    display: flex;
    background: url("images/black-frame-with-copy-space-top-view.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}

/* about section styling */
.about .title::after{
    content: "who i am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}



/* project section styling */
.projects h2{
    color: white;
}
.projects .title::before{
    background: #f7f4f4;
}
.projects{
    background:  black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
  }
.view-button {
    padding: 10px 30px;
    background-color: #007bff; /* Button color */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove default underline */
    border-radius: 6px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
    margin-top: 10px;
    display: inline-block;
  }
  
  .projects .view-button:hover {
    background-color: #0056b3; /* Darker color on hover */
  }
/* other code is in the education section*/
/* skills section styling */

.skills .title::after{
    content: "what i know";
}
.skills_section{
    width: 100%;
    height: 50vh;
    padding: 0px 13%;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.skills_section .skill_bar .info p{
    color: #e5dddd;
}
.skills_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 30px;
    margin-bottom: -5px;
}
.skills_head h2 span{
    color: #e74d06;
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: whitesmoke;
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #e74d06;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 85%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .java{
    width: 70%;
    animation: sass 2s;
}
@keyframes java {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .js{
    width: 70%;
    animation: css 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .react{
    width: 70%;
    animation: react 2s;
}
@keyframes react {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .Machine{
    width: 70%;
    animation: machine 2s;
}
@keyframes Machine {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .SQL{
    width: 65%;
    animation: express 2s;
}
@keyframes SQL {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}
.skill_bar .bar .Bootstrap{
    width: 85%;
    animation: css 2s;
}
@keyframes Bootstrap{
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}







/* Education section styling */
.education h2{
    color: white;
}
.education .title::before{
    background: #f7f4f4;
}
.education{
    background:  black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
  }
  
  
/* Timeline Container */
.timeline {
    background:#fff;
    margin: 10px auto;
    max-width: 150vh;
    padding: 20px;
    border-radius: 8px;
  }
  
  /* Outer Layer with the timeline border */
  .outer {
    border-left: 2px solid #333;
  }
  
  /* Card container */
  .t1 {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    background: #333;
    color: gray;
    border-radius: 8px;
    max-width: 120 vh;
  }
  
  /* Information about the timeline */
  .t2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Title of the card */
  .t3 {
    color: crimson;
    position: relative;
  }
  
  /* Timeline dot  */
  .t3::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -39px;
    border: 3px solid orangered;
  }
  .t2 p b{
    color: white;
  }
  .t2 h5 b{
    color: orangered;
  }
  .t2 h5{
    color: #e5dddd;
  }



/* teams section styling */
.experience h2{
    color: white;
}
.experience .title::before{
    background: #f7f4f4;
}
.experience{
    background:  #161616;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
  }
  .button .view {
    display: inline-block;
    padding: 10px 30px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    box-sizing: border-box;
    line-height: normal; /* Add this line */
}

.button .view:hover {
    background-color: #0056b3;
}

/* contact section styling */
.contact{
    color:#e7e3e3;
    background: #f4f2f2;
}
.contact h2{
    color: #0f0e0e;
}
.contact .title::before{
    background: #161616;
}
.contact .title::after{
    background: #111;
   
}
.contact .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    margin-bottom: 20px;
}

.contact .serv-content .card i{
    font-size: 40px;
    color: crimson;
    transition: color 0.3s ease;
}
.contact .serv-content .card:hover i{
    color: #fff;
}
.contact .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.contact .card .box a{
    display: inline-block;
    background: crimson;
    color: #e5dddd;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 22px;
    margin-top: 8px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.contact .card .box a:hover{
    color: rgb(240, 234, 236);
    background: black;
}

/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .contact .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills_section {
        width: 100%;
        height: 80vh;
        margin-bottom: 40px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
    .contact .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills_section .skill_bar .info{
        font-size: 15px;
    }
    
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}
